@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    @apply w-[8px]
}

::-webkit-scrollbar-track {
    @apply bg-transparent
}

::-webkit-scrollbar-thumb {
    @apply bg-colorTextVariant dark:bg-colorText_DM rounded-full;
}

@layer components {
    .bg-gradiant {
        position: fixed;
        background: conic-gradient(from 136.95deg at 50% 50%, #0294fe -55.68deg, #ff2136 113.23deg, #9b4dff 195deg, #0294fe 304.32deg, #ff2136 473.23deg);
        filter: blur(240px);
        opacity: 0.8;
        z-index: -10;
        @apply sm:top-[-10.75rem] md:m-[auto_25%] md:top-[-30.75rem] md:h-[540px] h-[410px] w-full md:w-[50%];
    }

    .ring-style {
        @apply ring-[0.5px] dark:ring-[1.2px] ring-gray-600/40;
    }

    .border-style {
        @apply border-[0.5px] dark:border-[1.2px] border-gray-600/40;
    }

    .text-color {
        @apply text-colorTextVariant dark:text-white/75
    }

    .text-color-secondary {
        @apply text-colorTextVariant dark:text-white/50
    } 

    .display-bubble-on-item-skills {
        @apply relative before:absolute before:content-[''] before:w-[10px] before:h-[10px] before:bg-gradient-to-t before:from-colorDanger before:to-colorPrimary sm:before:bottom-[-13px] md:before:bottom-[-23px] sm:before:left-[15px] md:before:left-[8px] sm:landscape:before:left-[9px] sm:landscape:before:bottom-[-23px] before:rounded-full
    }

    .display-bubble-on-item-works {
        @apply relative before:absolute before:content-[''] before:w-[10px] before:h-[10px] before:bg-gradient-to-t before:from-colorDanger before:to-colorPrimary sm:before:bottom-[-13px] md:before:bottom-[-23px] sm:before:left-[23px] md:before:left-[8px] sm:landscape:before:left-[9px] sm:landscape:before:bottom-[-23px] before:rounded-full
    }

    .display-bubble-on-item-blog {
        @apply relative before:absolute before:content-[''] before:w-[10px] before:h-[10px] before:bg-gradient-to-t before:from-colorDanger before:to-colorPrimary sm:before:bottom-[-13px] md:before:bottom-[-23px] sm:before:left-[10px] md:before:left-[8px] sm:landscape:before:left-[9px] sm:landscape:before:bottom-[-23px] before:rounded-full
    }

    .display-bubble-on-profil {
        @apply relative before:absolute before:content-[''] before:w-[10px] before:h-[10px] before:bg-gradient-to-t before:from-colorDanger before:to-colorPrimary before:bottom-[-9px] md:before:bottom-[7px] before:left-[25px] sm:landscape:before:bottom-[-7px] before:rounded-full
    }

    .display-bubble-works {
        @apply after:absolute after:content-[''] after:w-[10px] after:h-[5px] after:bg-gradient-to-t after:from-colorDanger after:to-colorPrimary after:rounded-tl-full after:rounded-tr-full after:bottom-[-2px] after:left-[45%]
    }

    .text-gradient {
        background: linear-gradient(121.91deg, #FF7782 30.82%, #7380EC 71.58%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    /*submit buttons*/
    .wrap-submit100 {
        position: relative;
        z-index: 2;
        opacity: .9;
        transition: color .3s ease-in-out, background-color .3s ease-in-out, transform .1s ease-in-out;
    }

    .wrap-submit100:hover+.wrap-submit2 {
        position: absolute;
        z-index: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 75%;
        background: conic-gradient(from 136.95deg at 50% 50%, #0294fe -55.68deg, #ff2136 113.23deg, #9b4dff 195deg, #0294fe 304.32deg, #ff2136 473.23deg);
        border-radius: 100px;
        filter: blur(32px);
        opacity: 0.8;
        transition: opacity .3s ease-in-out;
        will-change: opacity;
    }

    .loading-border-nav {
        position: relative;
        overflow: hidden;
        padding: calc(1px + 1px);
        border-radius: 9999px;
        display: inline-block;
        z-index: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        perspective: 1000;
        transform: translateZ(0);
        transfom: translateZ(0)
    }

    .loading-border-nav [aria-hidden=false] {
        content: "";
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        padding: 1px;
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
        border-radius: 9999px;
    }

    .loading-border-nav [aria-hidden=false]:before {
        content: "";
        background: conic-gradient(from 180deg at 50% 50%, #FF7782 0deg, #a853ba 112.5deg, #7380EC 228.75deg, rgba(42, 138, 246, 0) 360deg);
        box-shadow: 0 0 40px 20px conic-gradient(from 180deg at 50% 50%, #FF7782 0deg, #a853ba 112.5deg, #7380EC 228.75deg, rgba(42, 138, 246, 0) 360deg);
        width: calc(100% * 1.41421356237);
        padding-bottom: calc(100% * 1.41421356237);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 9999px;
        z-index: -2;
        animation: loading_border_spin 5s linear infinite
    }

    @keyframes loading_border_spin {
        0% {
            transform: translate(-50%, -50%) rotate(1turn)
        }

        to {
            transform: translate(-50%, -50%) rotate(0)
        }
    }
}